.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pointer-cursor {
    cursor: pointer;
}

.fa-bars {
    margin-right: .5em;
}

.line-height-accordian {
    line-height: 38px !important;
}

.arrow-cursor {
    cursor: default;
}

pre {
    margin-bottom: 0;
}

#p5-canvas {
    min-height: 400px;
}

/* 
*@font-face {
*    font-family: 'caeser';
*    src: url('webfont.eot'); /* IE9 Compat Modes */
/*    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
/*        url('webfont.woff') format('woff'), /* Modern Browsers */
/*         url('o')  format('truetype'), /* Safari, Android, iOS */
/*         url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
/*  } */